# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

api/fin_score.csv
api/fin_val.csv
api/timeSeriesVal.csv

src/data/chain.json
src/data/fin_data.json
src/data/validator_score.json
api/valData.csv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?server/timeSeriesVal.csv