/* style.module.css */
.container {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    background-color: #fff;
    border-radius: 8px;
}

.tableContainer {
    max-height: 140px;
    margin-top: 5px;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.table th, .table td {
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    padding: 6px 10px 5px 10px;
    text-align: left;
}

.table tbody tr:hover {
    background-color: #f0f0f0;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

.table td {
    padding: 8px;
}

.centerAlign {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.table td.rightAlign, .table td.leftAlign {
    min-width: 55px;
}

.table th.centerAlign, .table td.centerAlign {
    max-width: 20px;
    text-align: center;
}

.table th.centerAlign, .table td.centerAlign {
    max-width: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
