.svgContainer {
    position: absolute;
    top: 70px;
    left: 300px;
    transform: translateY(-20px);
}

.container {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    position: relative;
    right: 5px;
    top: 275px;
}

.button {
    padding: 5px 10px;
    border: 1px solid #4169E1;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
    width: 100px;
    text-align: center;
}

.button:last-child {
    margin-right: 0;
}

.selected {
    background-color: #e7f0fa;
}

.unselected {
    background-color: #fff;
}

.legendContainer {
    box-sizing: border-box;
    margin-right: 20px;
    position: relative;
    top: 10px;
    left: 10px;
    width: 150px;
    padding: 10px;
}

.legendItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legendColor {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
}

.legendLabel {
    font-size: 12px;
    color: #333;
}
