.title {
    font-family: 'AppleSDGothicNeoT';
    font-size: 16px;
    font-weight: bolder;

    margin-top: 0px;
    margin-left: 14px;
    margin-right: 14px;
}

.dropdown {
    height: 20px;
    width: 200px;
    margin-top: 5px;
    margin-left: 14px;
    margin-bottom: 14px;
    border: none;
    background-color: #F9F9F9;
    border-radius: 30px;
}